<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework-3</title>
    <script src="js/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h2>Добавление книги</h2>
        <form @submit.prevent="addRequest">
            <div>
                <label for="genre">Выбор жанра</label>
                <select id="genre" name="genre" multiple v-model="formData.genres">
                    <option v-for="genre in genres" :key="genre.id"
                    v-bind:value="genre.id">{{genre.name}}</option>
                </select>
            </div>
            <div>
                <label for="title">Введите название книги</label>
                <input type="text" id="title" name="title" minlength="2" maxlength="100"
                                                            v-model="formData.name">
            </div>
            <div>
                <label for="page-count">Укажите количество страниц</label>
                <input type="number" id="page-count" name="page-count" min="1" max="100"
                                                             v-model="formData.pages">
            </div>
            <div>
                <!-- <label>Описание книги</label>-->
                <textarea placeholder="Описание книги" name="description"></textarea
                                                       v-model="formData.description">
            </div>
            <div>
                <!--accept="image/gif,image/png"-->
                <label for="cover">Загрузить обложку книги</label>
                <input id="cover" type="file" accept="image/*"
                       name="cover">
            </div>
            <div>
                <label for="pages">Загрузить страницы</label>
                <input id="pages" type="file" multiple name="pages[]">
            </div>
            <div> <!-- группа чекбоксов -->
                <span>Возраст, для которого подходит книга</span>
                <label v-for="item in ages" :key="item.id">
                    <input type="checkbox" name="age[]" v-model="formData.ages"
                        v-bind:value="item.id">
                        {{item.age}}
                </label>
            </div>
            <div> <!-- группа радиокнопок -->
                <span>Читали ли Вы книгу, которую хотите загрузить</span>
                <label><input type="radio" name="read" value="yes" v-model="formData.read">Да</label>
                <label><input type="radio" name="read" value="no" v-model="formData.read">Нет</label>
            </div>
            <!-- submit, reset, button -->
            <button type="submit">Добавить</button>
            <input type="reset" value="Очистить">
        </form>
    </div>
<script src="js/homework-3.js"></script>
</body>
</html>